.panel {
  background: var(--interface-bg);
  color: var(--interface-text);
  border: 1px solid var(--interface-border-dark);
  border-radius: var(--ui-border-radius);
}

.panel-title {
  padding: var(--spacing-3);
  font-size: 13px;
  border-bottom: 1px solid var(--interface-border-light);
  box-shadow: inset 1px 1px 0 0 var(--white);
}

.panel-title-inner {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.panel-icon {
  display: flex;
  align-items: center;
}

/* Works regardless of headingLevel prop value */
.panel-title :is(h2, h3, h4, h5, h6) {
  margin: 0;
}

.panel-content {
  padding: var(--spacing-3);
  box-shadow: inset 1px 1px 0 0 var(--white);
}
